In [ ]:
#import pandas as pd
#import numpy as np

#df = pd.DataFrame({
#    'Nome': ['Mario', 'Luigi', 'Peach'],
#    'età': [25, 30, 28],
#    'Città': ['Roma', 'Milano', 'Napoli']
#})

#df.loc[0,'Nome']
#df.loc[0:1,['Nome']]
#df.iloc[0:2,[0]]

#df[df['età'] > 26]

#df['Stipendio'] = [2000,2500,2200]
#df.loc[0,'Città'] = 'Firenze'
#df=df.drop('Stipendio', axis=1)

#df_sorted = df.sort_values(by='età', ascending=False)

#df.describe()
#df_sorted.head()
#df.head()
#df['età'].mean()

In [ ]:
#import pandas as pd

#df=pd.read_csv('dati.csv')
#df=pd.read_csv('dati.csv', sep=';', header=0, encoding='utf-8')

#df["eta"] = [18, 22, 25, 30, 27, 35, 40, 45, 50, 55,
#             60, 28, 33, 38, 42, 47, 52, 58, 63, 20,
#             24, 29, 34, 39, 44, 48, 53, 57, 62, 65]

#df.to_csv("dati.csv", index=False)


#df
#df.head()

In [ ]:
"""
import pandas as pd
import numpy as np

df=pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8]
})

df.isna()
df.isnull()

df_clean= df.dropna()
df= df.fillna(0) 

df
"""

In [ ]:
"""
import pandas as pd
import numpy as np

vendite=pd.DataFrame ({
    'Prodotto': ['A', 'B', 'A', 'B', 'A'],
    'Quantità': [10, 15, 20, 5, 30],
    'Prezzo':[100,200,100,200,100]
    })

totali=vendite.groupby('Prodotto')['Quantità'].sum()

risultato=vendite.groupby('Prodotto').agg({
    'Quantità': 'sum',
    'Prezzo': 'mean'
})

risultato
"""

In [ ]:

"""
import pandas as pd
import numpy as np

studenti=pd.DataFrame ({
    'ID' : [1,2,3],
    'Nome' : ['Alice', 'Bob', 'Charlie']
    })

voti=pd.DataFrame ({
    'ID' : [1,2,3],
    'Matematica' : [8,7,9]
    })
risultato=pd.merge(studenti, voti, on='ID')
risultato
"""

In [ ]:
"""
import pandas as pd

df = pd.read_json('dati.json')

json_str = '[{"nome":"Mario", "età":25}]'
df = pd.read_json(json_str)

df.to_json('output.json', orient='records')

print(df)
"""

In [91]:
import pandas as pd

vendite=pd.read_csv("vendite.csv")

#print(vendite.head())
#print(vendite.info())
#print(vendite.describe())

#vendite_grandi=vendite[vendite["PrezzoUnitario"]>1000]

vendite["TotaleVendita"]=vendite["PrezzoUnitario"]*vendite["Quantita"]
vendite["Commissione"]=vendite["TotaleVendita"]*0.10

vendite["id_agente"]=[
  6, 3, 9, 1, 10, 4, 7, 2, 8, 5, 10, 1, 6, 3, 9, 2, 7, 4, 8, 5,
  1, 10, 4, 6, 3, 9, 2, 8, 5, 7, 4, 1, 10, 6, 3, 2, 9, 8, 5, 7,
  9, 2, 1, 10, 6, 3, 7, 4, 8, 5, 2, 9, 6, 3, 10, 1, 8, 5, 7, 4,
  3, 6, 9, 2, 1, 10, 5, 8, 4, 7, 6, 3, 10, 1, 2, 9, 8, 5, 7, 4,
  10, 1, 6, 3, 9, 2, 7, 4, 8, 5, 1, 10, 4, 6, 3, 9, 2, 8, 5, 7
]

per_venditore=vendite.groupby('id_agente').agg({
    'TotaleVendita': 'sum',
    'Commissione': 'mean',
    'id_agente': 'count'
})
per_venditore.columns=['TotaleVendite', 'TotaleCommissioni', 'Numero']

per_venditore=per_venditore.sort_values(by='TotaleVendite', ascending=False)
per_venditore.to_csv("report_venditori.csv")

per_venditore

           TotaleVendite  TotaleCommissioni  Numero
id_agente
10                8100.0               81.0      10
1                 6650.0               66.5      10
6                 6250.0               62.5      10
3                 5400.0               54.0      10
9                 5350.0               53.5      10
2                 4600.0               46.0      10
4                 3850.0               38.5      10
8                 3630.0               36.3      10
7                 3260.0               32.6      10
5                 2210.0               22.1      10